name: Deploy Preview
on:
  pull_request:
    types: [opened, closed, reopened]
jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: bakerkretzmar/laravel-deploy-preview@v2.2.0
        with:
          forge-token: ${{ secrets.FORGE_TOKEN }}
          servers: |
            laravel-deploy-preview.com 729268
          environment: DB_CONNECTION=sqlite
